/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    html{
        scroll-behavior: smooth;
    }
    /* -----navbar---- */
    .container{
        width: 95%!important;
    }
    nav{
        & .menu_icon{
            color: #fff;
            font-size: 2rem;    
        }
        & ul{
            width: 100%;
            height: 100vh;
            background-color: #000;
        }
    }

    /* ----hero---- */
    #hero{
        margin: 9rem 0;
        & .wrapper{
            & h4{
                font-size: 22px;
            }
            & .title{
                font-size: 30px;
                z-index: 1;
            }
        }
        & .hero_img{
            width: 350px;
            height: 380px;
            position: absolute;
            top: 188px;
            right: 0;
            
        }
    }

    /* ------about------ */
    #about{
        & .card{
            
        }
    }
    #contact-section{
        & .msg-style{
            margin-right: 1.5rem;
            font-size: 0.7rem;
        }
    }
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}